@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
    background-color: #fff;
    height: 45px;

}
.header {
    padding: 20px;
    text-align: right;
    background-color: white;
  }
  
  .logo-container img{
      height: 150px;
      width : 150px;
      padding: 20px;
      float: left;
      flex: 2;
      color: gray;
      cursor: pointer;
  }
  
  .header h1 {
    font-size: 40px;
    background-color:white;
  }
header a img{
    width: 134px;
    margin-top: 10px;

}



.login-page{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.login-page .form .login{
    margin-top: -31px;
    margin-bottom: 26px;
}

body{
    background-color: #876dee;
    /* background-image: linear-gradient(268deg,#328f8a,#08ac4b); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:17px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form{
    border-radius: 25px;
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 71%;
    margin: 75px 9rem 355px;
    padding: 45px;
    text-align: center;
    box-shadow:  0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-right: -81px;
    width: 700%
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(283deg,#328f8a,#08ac4b);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message{
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;

}

.form .message a{
    color: #4caf50;
    text-decoration: none;
}


