/*color Variable*/

*,
*::before
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #876dee;
    /* background-image: linear-gradient(315deg,#79ceff 0%, #dcb5ff 67%, #ffb8 100%); */
    height: 0vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #425a65;
    padding-bottom: 1rem;
    line-height: 18px;
}

h2{
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
    display: block;
    font-size: 2em;
    margin-block-start: -41.33px;;
    margin-block-end: -0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold
}

span{
    /* position: absolute;
    top: 8%;
    font-size: 23px;
    color: #392d3d;
    margin-inline-start: -120px; */
}

.form{
    width: 38rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: white;
    padding-right: 0px;
}

title{
    margin-bottom: 0.5rem;
}

group{
    position: relative;
    height: 3rem;
    margin-bottom: 1.5rem;
}
        



.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label{
    top: -0.5rem;
    left: 0.8rem;
    font-size: 0.8rem;
}


input {
    width: 16%;
    border: 1px solid #152831;
    border-radius: 0.5rem;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    outline: none;
    padding: 12.25px;
    background: none;
    margin-left: 1rem;
 }

 label {
    position: initial;
    left: 7rem;
    font-size: 16px;
    border-radius: 5px;
    background-color: #dbb6ff;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;


 }

 .form-button {
    display: block;
    margin-left: auto;
    padding: 0.75rem 2rem;
    background-color: #9dedff;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 22px;
    cursor: pointer;
    border: none;
 }


 input:focus {
    outline: #876dee auto 5px; 
}

.btn{
    appearance: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 89%;
    will-change: transform;
}

.btn:disabled{
    pointer-events: none;
}

.btn:hover{
    color: rgb(255, 255, 255);
    background-color: #876dee ;
    box-shadow: #00000040 0 8px 15px;
    transform: translateY(-2px);
}

.btn:active{
    box-shadow: none;
    transform: translateY(0);
}