@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* body{
    overflow: hidden;
} */
:root
{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --blac: #876dee;
    --black2: #999;

}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    /* background-color: var(--body-color);
    transition: var(--tran-05); */
}
.container
{
    width: 100%;

}
.navigation{
    position: initial;
    width: 300px;
    min-height: 179vh;
    /*height: 100%;*/
    background: grey;
    /* background: var(--blue); */
    background-color:slateblue;
    /* background-color:red; */
    /* border-left:10px solid var(--blue); */   
    transition: 0.5s;
    overflow: hidden;
    /* margin-bottom: 100%; */
    border-top-left-radius: 19px;

}
.navigation.active{
    width: 80px;
}

.navigation ul{
    position: initial;
    top:0;
    left: 0;   
    width: 100%;

}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: background 0.3s;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 3px;
    width: 288px;
    margin-inline-start: 3px;

    /* position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: background 0.3s; */
}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
        
}
.navigation ul li.hovered2
{
    background: var(--blac);
        
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;

}
.navigation ul li:nth-last-child(1){
    margin-bottom: 400px;
    pointer-events: none;

}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    font-size:15px;
    color:var(--white);
    transition: font-size 0.3s;
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
    /* color:var(--blue); */
    /* color:black; */
    color:slateblue;
    font-weight: 800;
    font-size: 18px;
}
.navigation ul li.hovered2 a
{
    /* color:var(--blue); */
    /* color:black; */
    color:white;
    font-weight: 800;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;


}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    display:block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* .navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
} */

.main{
    position: absolute;
    width: calc(98.5% - 300px);
    top:240px;
    left: 310px;
    min-height: 170vh;
    background: var(--white);
    transition: 0.5s;
    border-top-right-radius: 19px;
}
.main.active{
    width: calc(98.5% - 70px);
    left: 80px;
  
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-top-right-radius: 19px;
    /* margin-block-end: 109px; */
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;   
}


.navigation ul {
margin-block-end: -112px;
}